<% if current_game %>
  <%= link_to "Continue", game_path(current_game), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg hover:cursor-pointer transition duration-300 ease-in-out hover:bg-blue-700 transform hover:-translate-y-1 hover:shadow-lg" %>
<% elsif game_available? %>
  <%= form_tag(controller: "games", action: "create", method: "post") do %>
    <%= submit_tag "New Game", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg hover:cursor-pointer transition duration-300 ease-in-out hover:bg-blue-700 transform hover:-translate-y-1 hover:shadow-lg" %>
  <% end %>
<% else %>
  <div class="flex flex-col items-center">
    <p class="text-gray-500 mt-2">Sorry, no more games available.</p>
    <p class="text-gray-500 text-xs mt-2">..we will notify you when they are ready.</p>
  </div>
<% end %>

<div>
  <div class="grid grid-cols-2 gap-3 mb-2 text-center">
    <%= link_to "High Scores", high_scores_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg hover:cursor-pointer transition duration-300 ease-in-out hover:bg-blue-700 transform hover:-translate-y-1 hover:shadow-lg" %>
    <%= link_to "Scores", scores_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg hover:cursor-pointer transition duration-300 ease-in-out hover:bg-blue-700 transform hover:-translate-y-1 hover:shadow-lg" %>
  </div>
  <%= render 'shared/log_in' %>
</div>
