<%= turbo_frame_tag action do %>
  <div class="flex">
    <div  class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">

      <% if action.done? %>
        <div class="min-w-0 flex-1">
          <span class="absolute inset-0" aria-hidden="true"></span>
          <div class= <%= action.necessary ? "text-green-500" : "text-black-500"%>>
            <%= display_result(action) %>
          </div>
        </div>
      <% else %>
        <div data-controller="action">
          <div class="relative flex items-center space-x-3 <%= action.result == :failure ? "hidden" : "" %>" data-action-target="button" >
            <div class="text-blue-500">
              <span class="text-green-500"><%= action.cost %></span> <span> / </span><span class="text-red-500">1</span><span> Effort</span>
            </div>
            <div class="min-w-0 flex-1">
              <span class="absolute inset-0" aria-hidden="true"></span>
              <%= button_to trans("locations.#{action.location.index}.actions.#{action.index}.title"),
                            { controller: "actions",
                              action: "update",
                              id: action.id
                            },
                            method: :put,
                            class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg hover:cursor-pointer transition duration-300 ease-in-out hover:bg-blue-700 transform hover:-translate-y-1 hover:shadow-lg" %>
            </div>
          </div>
          <% if action.result == :failure %>
            <div class="min-w-0 flex-1" data-action-target="result">
              <span class="absolute inset-0" aria-hidden="true"></span>
              <div class= "text-red-500">
                <%= trans("locations.#{action.location.index}.actions.#{action.index}.result.failure") %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

